<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  
  <body>
    <h1>About</h1>
   <h9>What is the Assembly</h9>
                <p>
                    The Assembly connects you to users with the SJSU community
                </p>
            
 
                
                <h9>How does it work? </h9>
                <p>
                    Users will be able to share and interact with content 
                </p>
           

          
                
                <h9>Our Goal</h9>
                <p>
                    Our goal is to create an interactive atmosphere where users come to help one another
                </p>
  </body>
</html>