<div class="center jumbotron">
    <h1>Welcome to the Assembly</h1>
    <div class="row">
            <h2>Let graduation be a smooth ride to success!</h2>
            <p class="long-copy">
            </p>
        </div>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %><br>
    or<br>
    <%= link_to "  Login  ", login_path, class: "btn btn-lg btn-primary" %>
</div>

 
<section class="section-features" >
        
            
                
                <h9>What is the Assembly</h9>
                <p>
                    The Assembly connects you to users with the SJSU community
                </p>
            
 
                
                <h9>How does it work? </h9>
                <p>
                    Users will be able to share and interact with content 
                </p>
           

          
                
                <h9>Our Goal</h9>
                <p>
                    Our goal is to create an interactive atmosphere where users come to help one another
                </p>
            
       
</section>